<h1> GPT APP FOR <%= user.username %>



</h1>

<div class="row">
  <div class="col">

    <p>Here is a list of question you asked</p>


    <!-- 
    <form method="post" action="/gpt">
      New Question: <input type="text" name="question">
      <br>

      <input type="submit" value="submit">
    </form> -->



    <ul class="list-group">
      <% items.forEach(item=> { %>




        <%= item.question %>
          <%= item.answer %>


            <a href="/gpt/remove/<%=item._id %>">
              <i class="bi bi-trash"></i>
            </a>

            <!-- </span>
          <span class="mx-5">
          </span> -->



            <!-- <span class="badge rounded-pill bg-danger">
            <%= item.priority?item.priority:5 %>
          </span> -->
            <!-- <a href="/gpt/edit/<%=item._id %>">
            <i class="bi bi-pencil-square"></i>
          </a> -->

            </li>
            <br>

            <% }) %>

              <form method="post" action="/gpt">
                New Question: <input type="text" name="question">
                <br>

                <input type="submit" value="submit">
              </form>
  </div>
</div>
</div>